# https://docs.github.com/en/rest/reference/actions#create-a-workflow-dispatch-event

name: 'Check for broken URLs'

on:
  workflow_dispatch:
    inputs:
      xpm_version:
        description: 'The version of xpm to install'
        required: false
        type: string
        default: 'latest'

jobs:

  linux-x64:
    name: 'Linux x64 test'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout project'
        # https://github.com/actions/checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 3

      - name: 'Install project dependencies'
        timeout-minutes: 1440
        run: npm --prefix website ci 

      - name: 'Check URLs'
        timeout-minutes: 1440
        run: npm --prefix website run check-urls
